.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__form {
  display: flex;
  width: 300px;
  margin: 15px auto;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  margin-bottom: 5px;
}

.button {
  background-color: rgba(232, 225, 255, 0.774);
  border: none;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.2);
}

.main__body {
  display: flex;
  justify-content: space-around;
}

.body__cards,
.body__cards2,
.body__cards3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  position: relative;
  width: 300px;
  border: 2px solid lightgrey;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.2s;
}

.work:hover {
  transform: scale(1.2);
}

.work__link:hover {
  text-decoration: underline;
}

.work__rates {
  position: absolute;
  top: 120px;
  right: 50px;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(61, 21, 204, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  pointer-events: none;
}

.form__link {
  width: 100%;
}

.form__rate {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.form__r {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
}

.work__img {
  width: 100%;
  cursor: pointer;
}
